/* This is both Brendan's custom stuff and the...

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Anek+Latin");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-family: "Anek Latin", sans-serif;
	--orange: #ffccb5;
	--pink: #edb1ff;
	--blue: #b1c2ff;
	--off-black: #131314;
	--off-purple: #25172b;
	--dark-blue: #1a095e;
	--magenta: #8f0bc2;
  --gradient-light: linear-gradient(135deg, rgb(255,204,181) 0%, rgb(237,177,255) 55%, rgb(177,194,255) 100%);
  --gradient-sunset: linear-gradient(135deg, rgb(204,129,8) 0%, rgb(143,11,194) 100%);
  --gradient-dark: linear-gradient(135deg, rgb(111,0,110) 0%, rgb(26, 9, 94) 70%, rgb(0,58,111) 100%);
	scrollbar-gutter: stable;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}