@import url("https://fonts.googleapis.com/css2?family=Anek+Latin");
@import url("./reset.css");

html {
  --b-sunset: linear-gradient(135deg, rgb(204,129,8) 0%, var(--magenta) 100%) 2;

}

* {
  scrollbar-width: thin;
  scrollbar-color: #1a095e80 transparent;
}

body {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 0;
  font-size: 18px;
  font-family: "Anek-Latin", sans-serif !important;
  justify-content: center;
  color: white;
  /*text-shadow: 0 0 0.3em black, 0 0 0.3em black;*/
  z-index: -999;
  background-color: var(--off-purple);
}

.column {
  flex: 1 1 350px;
  max-height: calc(100% - 10px); /* Account for padding */
  padding-top: 5px;
}

body > blockquote {
  font-size: 24px;
  position: fixed;
  opacity: 1;
  bottom: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* Each individual results styling */
ul li {
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  backdrop-filter: contrast(150%);
  -webkit-backdrop-filter: contrast(150%);
  color: white;
  text-align: center;
  list-style-type: none;
  word-break: break-all;
}

/* Fancy sibling selector for search result hashtags*/
/*
ul li a ~ span {
  color: var(--blue);
}
*/
input[type="text"] {
  display: block;
  width: 100%;
  font-size: 20px;
  border-style: solid;
  border-image: linear-gradient(25deg, var(--pink) 0%, transparent 20px) 2;
  /*border-image: linear-gradient(135deg, rgb(204,129,8) 0%, var(--magenta) 100%) 2;*/
/*  border-color: var(--pink);*/
  color: white;
  background-color: transparent;
}

input[type="text"]:focus {
  outline: none;
  border-image: linear-gradient(5deg, white 0%, transparent 25px) 2;
}

input[type="date"] {
  background-color: transparent;
  filter: invert(100%);
  border: none;
  font-size: 30px;
  width: 30px;
}

input[type="text"]::placeholder {
  opacity: 0.55;
  color: var(--pink);
  background-clip: text;
  font-family: "Anek-Latin", sans-serif;
}

input[type="checkbox"] {
  display: block;
  width: 20px;
  height: 20px;
  accent-color: var(--magenta);
}

img[src="./assets/cloud.svg"] {
  display: block;
  width: 45px;
  margin-top: 2px;
  cursor: pointer;
  transition: filter 0.25s ease;
  z-index: 1;
}

img[src="./assets/cloud.svg"]:hover {
  filter: hue-rotate(-60deg);
}

#background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  filter: brightness(75%);
  /* Needed otherwise image gets stuffed on top? */
  z-index: -1;
}

/* Is a class for a reason */
.blur-box {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  overflow: auto;
}

/* Text input only */
.input-wrapper {
  display: flex;
  width: 100%;
}

.input-wrapper ~ .tags-wrapper {
  margin: 5px 0;

}

.tags-wrapper {
white-space: nowrap;
  /**/}

.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px 2px 11.5px;
  font-size: 15px;
  color: white;
  
  backdrop-filter: brightness(150%);
  -webkit-backdrop-filter: brightness(150%);
  text-shadow: none;
}

.tag::before {
  padding: 2px 5px;
  content: "#";
  position: absolute;
  background-color: var(--off-black);
  top: 0;
  left: 0;
  /* Annoying magic number */
  width: 10px;
  text-align: center;
}

.tag.selected::before {
  background-color: var(--magenta);
}

/* SEARCH BOX */
#search-results {
  display: none; /* Changed when searching */
  padding: 0;
  overflow-y: auto;
}

/* CLASSES BUTTONS */
#classes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

#classes > div {
  flex-basis: 100px;
  flex-grow: 0;
  margin: 2px;
  padding: 5px;
  font-size: 15px;
  backdrop-filter: brightness(150%);
  -webkit-backdrop-filter: brightness(150%);
  text-align: center;
  z-index: 99;
}

#classes > div > span {
  cursor: pointer;
  background-color: var(--off-black);
  width: 25px;
  padding: 5px 0;
  margin: -5px;
  float: right;
  display: block;
}

.none {
  background-color: #00000040;
}

.homework {
  background-color: #3f991e;
}

.study {
  background-color: var(--magenta);
}

.test {
  background-color: #b02b02;
}

/* TODO LIST */
#todo-input {
  text-align: left;
}

#todo li {
  text-align: left;
  display: flex;
}

/* Doesn't work in Chrome <105 and iOS <16.4 ugh */
li:has(input:checked) {
  backdrop-filter: brightness(110%) contrast(150%) !important;
  -webkit-backdrop-filter: brightness(110%) contrast(150%) !important;
  outline: 3px solid var(--magenta);
  box-shadow: inset var(--magenta) 0 0 15px, var(--magenta) 0 0 30px !important;
}

#todo li img, li span input[type="checkbox"] {
  height: 20px;
  display: inline;
  margin: 0 0 0 5px;
}

/* CLASS TIMES */
#calendar {
  flex-basis: 300px;
  flex-grow: 1;
  max-height: unset;
  mix-blend-mode: plus-lighter;
  position: relative;
}

#calendar > iframe {
  width: 100%;
  height: 600px;
}
#calendar > #cover {
  top: 10px;
  left: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: 600px;
  backdrop-filter: invert(100%) hue-rotate(250deg) contrast(1.2);
  -webkit-backdrop-filter: invert(100%) hue-rotate(250deg) contrast(1.2);
  pointer-events: none;
}

/* BUBBLES */
#bubbles {
  padding: 30px;
  max-height: 600px;
  overflow: auto
}

.bubble {
  backdrop-filter: contrast(150%);
  -webkit-backdrop-filter: contrast(150%);
  padding: 15px;
  width: 25px;
  height: 25px;
  margin: 2px;
  float: left;
}
.bubble img {
  width: 25px;
  height: 25px;
}

.bubble a img {
  outline: 5px solid var(--off-black);
}

#up {
  outline: 5px solid var(--off-black);
  background-color: var(--off-black);
  position: absolute;
  top: -25px;
}

#down {
  outline: 5px solid var(--off-black);
  background-color: var(--off-black);
  position: absolute;
  bottom: -25px;
}

#left {
  outline: 5px solid var(--off-black);
  background-color: var(--off-black);
  position: absolute;
  left: -25px;
}

#right {
  outline: 5px solid var(--off-black);
  background-color: var(--off-black);
  position: absolute;
  right: -25px;
}

#list {
  padding: 5px;
}

#list-input, #list-date {
  display: block;
}
